{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="spacing"></div>
    <div class="container">
        <h1>Firebuzz</h1>
        <p>
            Firebuzz is a cutting edge wildfire detection platform. It can be
            used by local authorities to enhance communication to the public,
            it can be used by the public to communicate locations of wildfires
            to authorities and it can be used by research institutes to acquire
            information about wildfires in real-time.
        </p>
    </div>
{% endblock %}
