{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <link href="{% static "css/jquery-position-picker.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/ol2/theme/default/style.css" %}" rel="stylesheet" type="text/css" />
    <style>
        .gllpLatlonPicker, #map {
            width: 500px !important;
            height: 400px !important;
        }

        /* Ensure the gllpMap uses the full size of the
         * gllpLatlonPicker. */
        .gllpMap {
            width: 100% !important;
            height: 100% !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="spacing"></div>
    <button class="btn-danger" onclick="submit();">Submit</button>
    <input  type="checkbox" id="mockSelector" />
    <label for="mockSelector">Mock?</label>
    <div class="row">
    <div class="gllpLatlonPicker col-xs-12 col-md-6">
        <div class="gllpMap"></div>
        <br/>
        <input type="hidden" class="gllpLatitude" id="pickerLat" value="52.242640699999995"/>
        <input type="hidden" class="gllpLongitude" id="pickerLon" value="6.853709299999999"/>
        <input type="hidden" class="gllpZoom" value="14"/>
    </div>
    <div class="spacing"> </div>
    <div id="map" class="col-xs-12 col-md-6"></div>
    </div>
    <div class="spacing"></div>
    <ul>
    {% for point in points %}
        <li>{{ point.lat }}, {{ point.lon }}</li>
    {% endfor %}
    </ul>
    <ul>
    {% for circle in circles %}
        <li>P: {{ circle.0 }}, R: {{ circle.1 }}</li>
    {% endfor %}
    </ul>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>
    <script src="{% static "js/OpenLayers.js" %}"></script>
    <script src="{% static "js/jquery-position-picker.js" %}"></script>
    {% csrf_token %}
    <script>
        window.circles = [{% for circle in circles %}
            { lat: {{circle.0.0}}, lon: {{ circle.0.1 }}, r: {{ circle.1 }} },{% endfor %}
        ];
        window.points = [{% for point in points %}
            { lat: {{ point.lat }}, lon: {{ point.lon }} },{% endfor %}
        ];
        window.onload = function() {
			var map = L.map('map').setView([52.242640699999995, 6.853709299999999], 14);
			L.tileLayer('https://a.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
				attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
				maxZoom: 18,
				id: 'base',
			}).addTo(map);

			window.points.forEach(point => {
				L.marker([point.lat, point.lon])
					.addTo(map);
            });
			window.circles.filter(p => p.lat != 0 && p.lon != 0 && p.r != 0)
                .forEach(point => {
                	L.circle([point.lat, point.lon], point.r)
                        .addTo(map);
                });
		};

        function submit() {
        	if (document.getElementById("mockSelector").checked) {
        		send_location({
                    coords: {
                    	latitude: document.getElementById("pickerLat").value,
                        longitude: document.getElementById("pickerLon").value,
                    },
                });
            } else {
				window.navigator.geolocation.getCurrentPosition(send_location);
			}
        }

        function send_location(position) {
			coords = position.coords;
			var xhr = new XMLHttpRequest();
			xhr.open("POST", window.location.href, true);
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.setRequestHeader("X-CSRFToken", document.querySelector("[name=csrfmiddlewaretoken]").value);
			xhr.send(JSON.stringify({
				lat: coords.latitude,
				lng: coords.longitude,
			}));
			window.setTimeout(window.location.reload.bind(window.location), 1000);
        }
    </script>
{% endblock %}
